

#dragDiv {
    width: 1200px;
    height: 180px;
    margin:auto;

}

#box {
    width:1200px;
    height:100%;
    position:relative;
    border:1px solid black;
    overflow:hidden;
    transition: transform 0.1s ease 0s;
}

#box ul{
    display:flex;
    height:100%;
    justify-content: space-between;
    position:relative;
}

#box ul li{
    height:100%;

}

.draggingTarget { width:180px; height:100%; border:1px solid black;}

.draggingTarget{
    background: url(../../images/img.jpg) no-repeat center center;
    background-size: 190px;
}

